.Rproj.user
.Rhistory
.RData
.Ruserdata
PTBI2016.Rproj
presentation.bbl
presentation.log
presentation.nav
presentation-concordance.tex
presentation.snm
presentation.synctex.gz
presentation.tex
presentation.toc
poster/my_poster.aux
poster/my_poster.bbl
poster/my_poster.blg
poster/my_poster.log
poster/my_poster.nav
poster/my_poster.out
poster/my_poster.snm
poster/my_poster.synctex.gz
poster/my_poster.tex
poster/my_poster.toc
poster/my_poster-concordance.tex