.Rproj.user
.Rhistory
.RData
.Ruserdata
PTBI2016.Rproj
presentation.bbl
presentation.log
presentation.nav
presentation-concordance.tex
presentation.snm
presentation.synctex.gz
presentation.tex
presentation.toc
